footer ul li {
    list-style-type: none;
}

footer ul li a {
    text-decoration: none;
    color: white;
}

footer ul li a:hover {
    text-decoration: none;
}

footer ul li a i {
    margin-right: 10px;
}

.gap-2 li a i{
    font-size: 20px;
}